@model SimpleLocalization.ViewModels.Home.PersonViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<h1><label asp-for="Name"></label></h1>
<h1><label asp-for="LastName"></label></h1>
<h1>@ViewBag.ValueFromController</h1>